.sidebarChat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}
.sidebarChat:hover{
    background-color: #ebebeb;
    
}
.sidebarChat_info > h2{
    font-size: 16px;
    margin-bottom: 8px;

}
.btn-1{
    display:none !important;
}
.btn-1:hover{
    display: visible !important;
    color:tomato;
}
.sidebarChat_info{
    margin-left: 15px;
}
a {
    text-decoration: none !important;
    color: black;
}
.btn-2{
    transform: scale(2);
}